.container {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin: 40px 80px;
  padding: 40px 120px;
  font-family: 'Open Sans', sans-serif;
}

.header {
  display: flex;
  justify-content: center;
}

#company-image {
  border-radius: 40px;
}

#company-description {
  text-align: justify;
}

.loader {
  display: none;
}

.show {
  display: block;
}

.green {
  color: green;
}

.red {
  color: red;
}